/* VARIABLES PALETA DE COLORES */
/*VARIABLES FONTS */
/* GLOBALES ================================================================================== */
@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Overpass&display=swap");
body {
  font-family: "Overpass", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

/* HEADER====================================================================================== */
.navbar {
  background-color: #f7f5f2;
  font-size: 18px;
  font-family: "Bree Serif", serif;
  color: black;
  height: 100px;
  letter-spacing: 2px;
  padding: 3rem;
  border-bottom: 1px solid #8d8daa;
  z-index: 3;
}
.navbar .navbar-collapse {
  background-color: #f7f5f2;
}
.navbar .navbar-collapse .nav-item {
  padding: 1rem;
}
.navbar .navbar-collapse .nav-item .nav-link:hover {
  text-decoration: underline;
}

/* HEADER MOBILE ================================================================================ */
@media only screen and (max-width: 480px) {
  .navbar {
    height: 100px;
    margin: 0 auto;
    padding: 0;
  }
  .navbar .logo {
    width: 200px;
  }
}
/* HEADER TABLET ================================================================================== */
@media only screen and (min-width: 481px) and (max-width: 978px) {
  .navbar {
    margin: 0 auto;
    padding: 0;
  }
  .navbar .navbar-collapse {
    background-color: #f7f5f2;
  }
  .navbar .logo {
    width: 200px;
  }
}
/* FOOTER =========================================================================================== */
.footer {
  background-color: #f7f5f2;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-footer img {
  width: 200px;
  margin: 0 30px;
}

.redes-sociales img {
  width: 50px;
  padding: 10px;
  padding-top: 2px;
  margin: 10px;
}

.redes-sociales {
  display: block;
  justify-content: space-around;
  margin-right: 30px;
}

/* FOOTER MOBILE =====================================================================================*/
@media only screen and (max-width: 480px) {
  .footer {
    display: block;
    height: 150px;
  }
  .footer .logo-footer {
    display: flex;
    justify-content: center;
    padding: 10px;
  }
  .footer .logo-footer img {
    width: 100px;
  }
  .footer .redes-sociales {
    display: flex;
    justify-content: center;
    margin: 0;
  }
}
/* INDEX BANNER ======================================================================================== */
.banner {
  width: 100%;
  margin: 0 auto;
  display: flex;
  max-height: 700px;
  opacity: 80%;
}

/* INDEX BIENVENIDA ==================================================================================== */
.bienvenida {
  display: flex;
  background-color: #dfdfde;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
.bienvenida .titulo-principal {
  text-align: center;
  justify-content: center;
}
.bienvenida .titulo-principal .btn {
  background-color: #8d8daa;
  border: none;
  color: black;
  margin: 20px;
  font-size: 20px;
  padding: 10px 80px;
}
.bienvenida .titulo-principal .btn:hover {
  background-color: #f56d91;
  font-size: 22px;
}
.bienvenida .video-ministerio {
  padding: 60px;
}
.bienvenida .video-ministerio iframe {
  border-radius: 29px 29px 29px 29px;
}

/* INDEX EQUIPOS DE TRABAJO ================================================================================ */
.equipos {
  padding: 100px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin: 30px;
}
.equipos .card-group {
  width: 80%;
  margin: 0 auto;
  font-family: "Overpass", sans-serif;
}
.equipos .card-group .card-body {
  text-align: justify;
}
.equipos .card-group .card-body h2 {
  justify-content: flex-start;
  text-align: start;
  font-size: 1.5rem;
  padding-bottom: 10px;
}
.equipos .card-group .card-body .card-text {
  text-align: justify;
  margin: 3px;
}

/* INDEX MOBILE  ============================================================================================*/
@media only screen and (max-width: 480px) {
  .banner {
    height: fit-content;
    z-index: -3;
  }
  .bienvenida {
    display: block;
    padding: 20px;
  }
  .bienvenida .btn {
    margin: 5px auto;
    width: 75%;
    height: fit-content;
    padding: 0;
  }
  .bienvenida .video-ministerio {
    padding: 0;
  }
  .bienvenida .video-ministerio iframe {
    width: 100%;
    padding: 10px;
  }
  .equipos {
    padding: 10px;
    flex-direction: row-reverse;
    align-items: center;
    margin: 10px;
  }
  .equipos .card-group {
    width: 80%;
  }
  .equipos .card-group h2 {
    font-size: 1.3rem;
  }
  .equipos .card-group .card-text {
    font-size: 15px;
  }
}
/* INDEX TABLET  ===============================================================================================*/
@media only screen and (min-width: 481px) and (max-width: 978px) {
  .banner {
    height: fit-content;
    z-index: -3;
  }
  .bienvenida {
    display: block;
    padding: 20px;
  }
  .bienvenida .btn {
    margin: 5px auto;
    width: 50%;
    height: fit-content;
    padding: 0;
    margin: 10px;
  }
  .bienvenida .video-ministerio {
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 20px;
  }
  .bienvenida .video-ministerio iframe {
    width: 100%;
    padding: 10px;
  }
  .equipos {
    padding: 10px;
    margin: 10px;
  }
  .equipos .card-group {
    width: 90%;
    display: block;
    padding: 10px;
  }
}
/* PAGE NOSOTROS ================================================================================================== */
.titulos-nosotros {
  background-color: #dfdfde;
  height: fit-content;
  text-align: center;
  font-family: "Bree Serif", serif;
  padding: 40px;
}
.titulos-nosotros h1 {
  font-size: 4rem;
  margin-bottom: 10px;
}
.titulos-nosotros h2 {
  font-size: 2.5rem;
}
.titulos-nosotros h3 {
  font-style: italic;
}

.img-fluid {
  width: 100%;
  height: 600px;
  opacity: 50%;
}

.contenedor-nosotros {
  width: 70%;
  margin: 0 auto;
  padding: 20px 0;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(2, auto);
  text-align: justify;
  gap: 2rem;
}
.contenedor-nosotros .nosotros-item {
  border: 3px solid #8d8daa;
  padding: 20px;
  margin: 20px auto;
  border-radius: 22px 22px 22px 22px;
  align-content: center;
}
.contenedor-nosotros .nosotros-item h4 {
  font-family: "Bree Serif", serif;
  font-size: 2rem;
  letter-spacing: 3px;
  text-decoration: underline;
}
.contenedor-nosotros .nosotros-item p {
  font-size: 1rem;
  padding: 10px 0;
}
.contenedor-nosotros .nosotros-item .btn {
  background-color: #8d8daa;
  border: none;
  color: black;
  margin: 20px;
  font-size: 20px;
  padding: 10px 80px;
}
.contenedor-nosotros .nosotros-item .btn:hover {
  background-color: #f56d91;
  font-size: 22px;
}
.contenedor-nosotros .objetivo {
  border: 3px solid #f56d91;
}
.contenedor-nosotros .objetivo p {
  font-size: 1.2rem;
}
.contenedor-nosotros .responsabilidades {
  grid-column: 1/3;
}

/* NOSOTROS MOBILE ==================================================================== */
@media only screen and (max-width: 480px) {
  .titulos-nosotros {
    padding: 20px;
  }
  .titulos-nosotros h1 {
    font-size: 1.8rem;
  }
  .titulos-nosotros h2 {
    font-size: 1.4rem;
  }
  .titulos-nosotros h3 {
    font-size: 1rem;
  }
  .img-fluid {
    height: 250px;
  }
  .contenedor-nosotros {
    display: block;
    width: 90%;
  }
  .contenedor-nosotros .nosotros-item h4 {
    font-size: 1.5rem;
  }
}
/* NOSOTROS TABLET ==================================================================== */
@media only screen and (min-width: 481px) and (max-width: 978px) {
  .titulos-nosotros {
    padding: 20px;
  }
  .titulos-nosotros h1 {
    font-size: 3em;
  }
  .titulos-nosotros h2 {
    font-size: 2rem;
  }
  .titulos-nosotros h3 {
    font-size: 1rem;
  }
  .img-fluid {
    height: 250px;
  }
  .contenedor-nosotros {
    display: block;
    width: 90%;
  }
  .contenedor-nosotros .nosotros-item h4 {
    font-size: 1.5rem;
  }
}
/* PAGE PROGRAMAS ============================================================================================= */
.programas {
  background-color: #f7f5f2;
  border-bottom: 1px solid #8d8daa;
}
.programas .titulo-programas {
  background-color: #dfdfde;
  height: fit-content;
  padding-bottom: 30px;
}
.programas .titulo-programas h1 {
  padding-top: 30px;
  text-align: center;
  height: fit-content;
  font-family: "Bree Serif", serif;
  font-size: 3rem;
  padding-bottom: 20px;
  letter-spacing: 2px;
}
.programas .titulo-programas h2 {
  margin: 0 auto;
  text-align: center;
  width: 50%;
  font-size: 30px;
}
.programas .titulo-programas .emoticones {
  display: flex;
  justify-content: center;
}
.programas .titulo-programas .emoticones img {
  width: 70px;
  padding: 5px;
  margin: 15px;
}
.programas .container-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(6, auto);
  gap: 20px;
  justify-items: center;
  margin-top: 40px;
  padding-bottom: 40px;
}
.programas .container-grid .grid-programa {
  border: 3px solid #8d8daa;
  border-radius: 22px 22px 22px 22px;
  padding: 20px;
  width: 70%;
  background-color: #f7f5f2;
}
.programas .container-grid .grid-programa h3 {
  font-family: "Bree Serif", serif;
  font-size: 30px;
}
.programas .container-grid .adoles {
  grid-column: 1/3;
  grid-row: 1/2;
}
.programas .container-grid .jtk {
  grid-column: 1/2;
  grid-row: 2/3;
  justify-self: end;
}
.programas .container-grid .cedi {
  grid-column: 2/3;
  grid-row: 2/3;
  justify-self: start;
}
.programas .container-grid .cpi {
  grid-column: 1/3;
  grid-row: 3/4;
}
.programas .container-grid .lideres {
  grid-column: 1/2;
  grid-row: 4/5;
  justify-self: end;
}
.programas .container-grid .recreacion {
  grid-column: 2/3;
  grid-row: 4/5;
  justify-self: start;
}
.programas .container-grid .lazos {
  grid-column: 1/2;
  grid-row: 5/7;
  justify-self: end;
  height: fit-content;
}
.programas .container-grid .turismo {
  grid-column: 2/3;
  grid-row: 5/7;
  justify-self: start;
}
.programas .container-grid .grid-programa:hover {
  background-color: #8d8daa;
}
.programas .container-grid .grid-programa h3:hover {
  text-decoration: underline;
}

/* PROGRAMAS MOBILE ===================================================================================*/
@media only screen and (max-width: 480px) {
  .programas .titulo-programas h1 {
    font-size: 2rem;
    padding: 4px;
  }
  .programas .titulo-programas h2 {
    font-size: 1.3rem;
  }
  .programas .titulo-programas .emoticones img {
    width: 50px;
  }
  .programas .container-grid {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }
  .programas .container-grid .grid-programa {
    width: 90%;
    margin: 10px auto;
  }
}
/* PROGRAMAS TABLET =======================================================================================*/
@media only screen and (min-width: 481px) and (max-width: 978px) {
  .programas .titulo-programas h1 {
    font-size: 2.5rem;
  }
  .programas .titulo-programas h2 {
    font-size: 1.5rem;
  }
  .programas .container-grid {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }
  .programas .container-grid .grid-programa {
    width: 100%;
    margin: 10px;
  }
}
/* PAGE INFORMACION ================================================================================================== */
.grid-info {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  gap: 20px;
  padding: 30px 0;
}
.grid-info .grid-item {
  width: 500px;
  height: 300px;
  overflow: hidden;
  position: relative;
  border-radius: 20px;
  box-shadow: 5px 8px 12px black;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin: 10px auto;
}
.grid-info .grid-item img {
  width: 100%;
  height: 100%;
  opacity: 60%;
}
.grid-info .grid-item p {
  font-size: 3rem;
  color: #f7f5f2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
}
.grid-info .grid-item:hover {
  transform: scale(1.1);
  box-shadow: 13px 15px 37px black;
}

/* INFORMACION MOBILE ================================================================== */
@media only screen and (max-width: 480px) {
  .grid-info {
    display: block;
    width: 90%;
  }
  .grid-info .grid-item {
    width: 250px;
    height: 180px;
    margin: 20px auto;
  }
  .grid-info .grid-item p {
    font-size: 2rem;
  }
}
/* INFORMACION TABLET ================================================================== */
@media only screen and (min-width: 481px) and (max-width: 978px) {
  .grid-info {
    display: block;
    width: 90%;
  }
  .grid-info .grid-item {
    width: 75%;
    height: auto;
    margin: 30px auto;
  }
}
@media only screen and (min-width: 979px) and (max-width: 1300px) {
  .grid-info {
    display: block;
    width: 90%;
  }
  .grid-info .grid-item {
    width: 75%;
    height: auto;
    margin: 30px auto;
  }
}
/* PAGE CONTACTO============================================================================================== */
.titulo-contacto {
  background-color: #dfdfde;
  height: fit-content;
  padding-bottom: 30px;
}
.titulo-contacto h1 {
  padding-top: 30px;
  text-align: center;
  height: fit-content;
  font-family: "Bree Serif", serif;
  font-size: 3rem;
  padding-bottom: 20px;
  letter-spacing: 2px;
}
.titulo-contacto h2 {
  text-align: center;
}
.titulo-contacto .emoticones {
  display: flex;
  justify-content: center;
}
.titulo-contacto .emoticones img {
  width: 70px;
  padding: 5px;
  margin: 15px;
}

.main-contacto {
  display: grid;
  align-items: center;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(4, auto);
  row-gap: 30px;
  background-color: #dfdfde;
  border-top: 1px solid #8d8daa;
}
.main-contacto .banner-contacto {
  width: auto;
  height: 500px;
  background-image: url(media/banner-contacto.jpg);
  background-size: cover;
  opacity: 50%;
}
.main-contacto .formulario-bs {
  padding: 50px;
  margin: 10px;
}
.main-contacto .formulario-bs h3 {
  font-family: "Bree Serif", serif;
  font-size: 2rem;
  text-decoration: underline;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: center;
}
.main-contacto .formulario-bs .input-group {
  width: 100%;
  margin-bottom: 30px;
}
.main-contacto .formulario-bs .btn {
  background-color: #8d8daa;
  border: none;
  color: black;
  margin: 20px;
  font-size: 20px;
  padding: 10px 80px;
}
.main-contacto .formulario-bs .btn:hover {
  background-color: #f56d91;
  font-size: 22px;
}
.main-contacto .formulario-bs .form-select {
  width: 100%;
  margin: 15px auto;
}
.main-contacto .ubicacion {
  grid-column: 1/3;
  grid-row: 2/3;
  align-content: center;
  padding: 10px;
}
.main-contacto .ubicacion iframe {
  width: 100%;
  height: 500px;
}
.main-contacto .direccion {
  grid-column: 1/3;
  grid-row: 3/4;
  background-color: #8d8daa;
  text-align: center;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-contacto .direccion img {
  width: 100px;
  background-color: #8d8daa;
  margin: 20px;
}

/* CONTACTO MOBILE ======================================================================================== */
@media only screen and (max-width: 480px) {
  .titulo-contacto {
    margin: 0 auto;
    padding: 0 5px;
    height: fit-content;
    align-self: center;
  }
  .titulo-contacto h1 {
    font-size: 2rem;
  }
  .titulo-contacto h2 {
    font-size: 1rem;
  }
  .titulo-contacto .emoticones img {
    width: 45px;
  }
  .main-contacto {
    display: block;
    z-index: -3;
  }
  .main-contacto .banner-contacto {
    padding-top: 20px;
    height: 300px;
  }
  .main-contacto .formulario-bs {
    padding: 20px;
  }
  .main-contacto .formulario-bs .btn {
    margin-top: 30px;
  }
  .main-contacto .ubicacion iframe {
    height: 400px;
  }
  .main-contacto .direccion {
    display: block;
  }
  .main-contacto .direccion h3 {
    padding: 10px;
    font-size: 1rem;
  }
  .main-contacto .direccion img {
    width: 80px;
    background-color: #8d8daa;
    margin: 20px;
  }
}
/* CONTACTO TABLET ============================================================================================= */
@media only screen and (min-width: 481px) and (max-width: 978px) {
  .main-contacto {
    display: block;
  }
  .main-contacto .formulario-bs .btn {
    margin-top: 30px;
  }
}

/*# sourceMappingURL=estilos.css.map */
